.dropdownContentContainer {
  position: absolute;
  background-color: white;
}

.dropdownContentContainerOpened {
  display: block;
}

.dropdownContentContainerClosed {
  display: none;
}

.dropdownOptionButton {
  border-radius: 20px;
  padding: 10px 5px;
  background-color: #fff;
}

.dropdownContent {
  display: flex;
  flex-direction: column;
}

.dropdownContent > a {
  margin-right: 0px;
  border-radius: 0px;
  border: none;
  border-top: 1px solid #dbdbdb;
}
