:root{
    --jobSectionNavBarWidth:235px;
    --jobSectionAdsMarginLeft:15px;
    --jobSectionAdsWidth: calc(100% - calc(var(--jobSectionNavBarWidth) + var(--jobSectionAdsMarginLeft)));
}

.jobSection{
    width: 1170px;
    margin:0px auto;
    font-family: Montserrat,Arial,sans-serif;
    background-color: #f5f5f5;
}

.jobSectionHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 15px 15px;
    margin-bottom: 15px;
}

.countryLabel{
    font-size: 14px;
    color: #000;
}

.allCountryAds{
    float: right;
    margin-left: auto;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.jobSectionDropDownNav{
    height: 100px;
    margin-bottom: 15px;
    border: 1px solid greenyellow;
    display: none;
    text-align: center;
}

.jobSectionNav{
    float:left;
    width: var(--jobSectionNavBarWidth);
    max-width: var(--jobSectionNavBarWidth);
    background-color: #fff;
}

.labelFilterOption{
    font-weight: 550;
    font-size: 14px;
}
.filterOptionsContainer{
    padding: 0 15px;
    padding-top: 10px;
    border-top: 2px solid #dbdbdb;
}

.filterOptionsContainer:first-child{
    border-top: 0;
}

.ulFilterOptions{
    padding: 0px;
    font-size: 14px;
}

.filterItem{
    display: inline-block;
    overflow: hidden;
}

.jobSectionAds{
    float: right;
    width: var(--jobSectionAdsWidth);
    height: 800px;
    margin-left: var(--jobSectionAdsMarginLeft);
}

.featuredJobsTitle{
    font-size: 26px;
    margin-bottom: 15px;
    margin-top: 0px;
}

.jobAds{
    display: grid;
    grid-template-columns: calc(50% - 6px) calc(50% - 6px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.jobAd{
    width: 100%;
    background-color: #fff;
    color: gray;
    border: 1px solid rgba(144,144,144,.5);
}

.pPublishedAgo{
    text-transform: uppercase;
    float: right;
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-right: 15px;
}

.jobDescription-companyLogo-container{
    border-top: 1px solid rgba(186,187,202,.5);
    margin: 0px 15px;
    padding: 15px 0px;
    clear: both;
}

.jobDescriptionLogoImage{
    width: 90px;
    height: 57px;
    float: right;
}

.jobDescriptionTitleNCompany{
    overflow: hidden;
    margin: 0px;
    margin-bottom: 10px;
    color: #585992;
}

.jobDescriptionLocation{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 12px;
}
.jobDescriptionLocation::before{
    content: "\26CA";
}

.jobDescription{
    overflow: hidden;
    margin: 0px;
    margin-bottom: 10px;
    max-height: 50px;
    font-size: 14px;
}

@media (max-width: 1250px) {
    .jobSection{
        width: 95%;
    }
}

@media (max-width: 1100px){
    .jobAds{
        display: grid;
        grid-template-columns: 100%;
    }
}

@media (max-width: 700px){
    .jobAds{
        display: grid;
        grid-template-columns: 100%;
    }
    .jobSectionNav{
        display: none;
    }
    .jobSectionAds{
        width: 100%;
        margin-left: unset;
    }
    .jobSectionDropDownNav{
        display: block;
    }
}

@media (max-width: 615px) {
    .allCountryAds{
        width: 150px;
        text-align: center;
    }
}