header{
    height: 58px;
    background-color: aqua;
    width: 1170px;
    margin: 0px auto;
}

nav{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo{
    width: 76px;
    margin-left: 15px;
    flex-shrink: 0;
}

.navOptionsNButtonContainer{
    display: inline-flex;
    flex-direction: row;
    margin-left: auto;
    
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
}

.navOptions{
    
}

.navButtons{
}

.optionButtons{
    margin-right: 15px;
    border-radius: 20px;
    padding: 10px 5px;
    border: 1px solid #585992;
    background-color: #fff;
}

.navSeparator{
    width: 10px;
}

.navSeparator2{
    width: 5px;
    display:none;
}

.navButton{
    margin-right: 15px;
    border-radius: 20px;
    padding: 10px 20px;
    color: #585992;
    border: 1px solid #585992;
    background-color: #fff;
}

.dropbox{
    display: none;
    background-color: brown;
    height: 40px;
    width: 50px;
    margin-right: 15px;
    flex-shrink: 0;
}

@media (max-width: 1200px) {
    header{
        width: 85%;
    }
}

@media (max-width: 1070px) {
    .navOptions{
        display:none;
    }
    .dropbox{
        display:block;
    }
    .navSeparator2{
        display:block;
    }
}

@media (max-width: 615px) {
    .navButtons{
        display:none;
    }
}