body{
    margin: 0px;
    min-width: 280px;
    background-color: #f5f5f5;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

a {
    color: #585992;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

li{
    padding-bottom: 3px;
}

li:last-child{
    padding-bottom: 0px;
}